{% extends 'hod_template/base_template.html' %}

{% block page_title %}
    Add  Transaction
{% endblock page_title %}

{% block main_content %}
{% load static %}


  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Transaction Details</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form" action="{% url 'add_transaction_save' %}" method="POST">
              {% csrf_token %}
              <div class="card-body">
                {{ form.as_p }}
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->

{% endblock main_content %}

