{% extends 'hod_template/base_template.html' %}

{% block page_title %}
    Manage  Transaction
{% endblock page_title %}

{% block main_content %}

{% load static %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Manage Producer</h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  
{% endblock main_content %}
