{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'admin_home' %}" class="brand-link">
        <img src="{% static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Energy Platform</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="{% url 'admin_profile' %}" class="d-block">{{ user.first_name }} {{ user.last_name }}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Home -->
                <li class="nav-item">
                    {% url 'admin_home' as admin_home %}
                    <a href="{{ admin_home }}" class="nav-link {% if request.path == admin_home %} active {% endif %}">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Home</p>
                    </a>
                </li>

                <!-- Manage Customer -->
                <li class="nav-item">
                    {% url 'manage_customer' as manage_customer %}
                    <a href="{{ manage_customer }}" class="nav-link {% if request.path == manage_customer %} active {% endif %}">
                        <i class="nav-icon fas fa-users"></i>
                        <p>Manage Customer</p>
                    </a>
                </li>

                <!-- Add Customer -->
                <li class="nav-item">
                    {% url 'add_customer' as add_customer %}
                    <a href="{{ add_customer }}" class="nav-link {% if request.path == add_customer %} active {% endif %}">
                        <i class="nav-icon fas fa-user-plus"></i>
                        <p>Add Customer</p>
                    </a>
                </li>

                <!-- Manage Category -->
                <li class="nav-item">
                    {% url 'manage_producer_category' as manage_category %}
                    <a href="{{ manage_category }}" class="nav-link {% if request.path == manage_category %} active {% endif %}">
                        <i class="nav-icon fas fa-list-alt"></i>
                        <p>Manage Category</p>
                    </a>
                </li>

                <!-- Add Category -->
                <li class="nav-item">
                    {% url 'add_producer_category' as add_category %}
                    <a href="{{ add_category }}" class="nav-link {% if request.path == add_category %} active {% endif %}">
                        <i class="nav-icon fas fa-plus"></i>
                        <p>Add Category</p>
                    </a>
                </li>

                <!-- Manage Producer -->
                <li class="nav-item">
                    {% url 'manage_producer' as manage_producer %}
                    <a href="{{ manage_producer }}" class="nav-link {% if request.path == manage_producer %} active {% endif %}">
                        <i class="nav-icon fas fa-industry"></i>
                        <p>Manage Producer</p>
                    </a>
                </li>

                <!-- Add Producer -->
                <li class="nav-item">
                    {% url 'add_producer' as add_producer %}
                    <a href="{{ add_producer }}" class="nav-link {% if request.path == add_producer %} active {% endif %}">
                        <i class="nav-icon fas fa-plus"></i>
                        <p>Add Producer</p>
                    </a>
                </li>

                <!-- Manage Energy -->
                <li class="nav-item">
                    {% url 'manage_energy' as manage_energy %}
                    <a href="{{ manage_energy }}" class="nav-link {% if request.path == manage_energy %} active {% endif %}">
                        <i class="nav-icon fas fa-bolt"></i>
                        <p>Manage Energy</p>
                    </a>
                </li>

                <!-- Add Energy -->
                <li class="nav-item">
                    {% url 'add_energy' as add_energy %}
                    <a href="{{ add_energy }}" class="nav-link {% if request.path == add_energy %} active {% endif %}">
                        <i class="nav-icon fas fa-plus-circle"></i>
                        <p>Add Energy</p>
                    </a>
                </li>

                <!-- Manage Transaction -->
                <li class="nav-item">
                    {% url 'manage_transaction' as manage_transaction %}
                    <a href="{{ manage_transaction }}" class="nav-link {% if request.path == manage_transaction %} active {% endif %}">
                        <i class="nav-icon fas fa-exchange-alt"></i>
                        <p>Manage Transaction</p>
                    </a>
                </li>

                <!-- Add Transaction -->
                <li class="nav-item">
                    {% url 'add_transaction' as add_transaction %}
                    <a href="{{ add_transaction }}" class="nav-link {% if request.path == add_transaction %} active {% endif %}">
                        <i class="nav-icon fas fa-plus-square"></i>
                        <p>Add Transaction</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
